.main {
  display: flex;
  margin-top: 20px;
}
.music-image {
  width: 70%;
  min-width: 800px;
}

.music-image img {
  width: 100%;
}

.card-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.box {
  cursor: pointer;
}

.box:hover {
  opacity: 0.8;
}