.main {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.music-image {
  /* width: 100%; */
  /* min-width: 700px; */
  display: flex;
  position: relative;
}

.music-image>img {
  /* width: 100%; */
  width: 600px;
  z-index: 1;
  margin-left: -100px;
  height: 600px;
  /* margin-left: 130px */
}

.card-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.box {
  cursor: pointer;
  z-index: 2;
}

.box img {
  width: 100px;
}

.box:hover {
  opacity: 0.8;
}

.music-image .left-icon {
  width: 80px;
}

.icon-wrapper {
  /* position: absolute; */
  display: grid;
  grid-template-columns: 130px;
  z-index: 99;
  row-gap: 115px;
}



.button-group {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 50px;
  margin-top: 20px;

  /* margin-left: 1250px; */
}

.button-group button {
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .08), 0 3px 6px -4px rgba(0, 0, 0, .12), 0 9px 28px 8px rgba(0, 0, 0, .05);
  color: #6a6a6a;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: 16px 32px;
}

.active-class {
  background-color: #87fc52;
  color: #fff !important;
}

.music-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background-image: linear-gradient(to left, #129700, #6aec00);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}