.audio-wrapper {
    position: absolute;
    left: 95px;
    top: -10px;
    z-index: 999;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: dense;
    column-gap: 30px;
}

.content-audio {
    width: 130px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

.content-audio audio {
    width: 130px;
}

.content-audio img {
    position: absolute;
    left: 90%;
}